#title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    text-align: center;
}

.ul-main {
    display: inline-block;
    text-align: left;
}

.anchor {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.anchor:hover {
    text-decoration: underline;
}

.img-main {
    width: 400px;
    display: inline-block;
}
.img-container-main {
    text-align: center;
}